* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-nok);
}

:root {
    /* COLORS */
    --bg-color-principal: #575252;
    --color-text: #FFFFFF;
    --color-nok: rgb(0, 153, 255);
}

.container {
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 150px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.38);
    -webkit-box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.38);
}

h2 {
    color: var(--bg-color-principal);
}

button {
    margin-top: 20px;
    min-height: 20px;
    min-width: 50px;
    border: 1px solid var(--color-nok);
    background-color: var(--color-text);
    color: var(--color-nok);
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease;
}

button:hover {
    background-color: var(--color-nok);
    color: var(--color-text);
    outline: inherit;
}
